@import url("__copyright/footer__copyright.css");
.footer {
  max-width: 880px;
  padding-top: 66px;
  padding-bottom: 60px;
  margin: 0 auto;
}
@media screen and (max-width: 890px) {
  .footer {
    max-width: 680px;
  }
}
@media screen and (max-width: 680px) {
  .footer {
    max-width: 580px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
